{% extends "app/base.html" %}
{% block contenido %}
<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}/css/forms.css">
	<div class="row">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 card">
			<form method="POST" class="form">
				{% csrf_token %}
					<div class="row">
						<div class="col-xs-4">
							<img src="{{STATIC_PREFIX}}/img/banderas/{{partido.equipo1.pk}}.png" alt="" class="">
							{{form.goles1}}
						</div>
						<div class="col-xs-4 text-center">
							Martes 25/06
							<br>15:00hs
						</div>
						<div class="col-xs-4">
							<img src="{{STATIC_PREFIX}}/img/banderas/{{partido.equipo2.pk}}.png" alt="" class="pull-right">
							{{form.goles2}}
						</div>
					</div>
					{% if partido.eliminatoria %}
						<br>
						<div class="row">
							<div class="col-xs-12 col-sm-8 col-md-5">
								<label id="label_ganador">Ganador: </label>
								{{form.ganador}}
							</div>
						</div>
					{% endif %}
					<br>
							<button type="submit" class="btn btn-primary">Guardar</button>
			</form>
		</div>
	</div>
	<script src="{{STATIC_PREFIX}}/js/forms.js"></script>
{% endblock contenido %}