{% extends "app/base.html" %}

{% block contenido %}
	<div class="row">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 card">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Plenos</th>
							<th>Resultados</th>
							<th>Penales</th>
							<th>No clasificados</th>
							<th>Puntos</th>
						</tr>
					</thead>
					<tbody>
						{% for puntaje in puntajes %}
							<tr>
								<td>{{puntaje.usuario.username}}</td>
								<td>{{puntaje.plenos}}</td>
								<td>{{puntaje.resultados}}</td>
								<td>{{puntaje.penales}}</td>
								<td>{{puntaje.error_clasificado}}</td>
								<td>{{puntaje.puntos}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock contenido %}